<ion-header>
  <section>
    <div>
      <ion-title>La Cantinière</ion-title>
    </div>
    <ion-nav>
      <ul>
        <li>
          <a href="/">Home</a> 
        </li>
        <li>
          <a href="/menu">Menu</a> 
        </li>
        <li>
          <a href="/contact">Contact</a> 
        </li>
        <li>
          <a href="/dashboard">Dashboard</a> 
        </li>
      </ul>
    </ion-nav>
    <ion-icon (click)="openMenu()" name="list-circle-outline"></ion-icon>
  </section>
  <section>
    <app-cagnotte></app-cagnotte> 
  </section>
</ion-header>
