ion-card {
    width: min-content;
    height: 80%;
    float: right;
    text-align: center;
    background-color: rgba(255, 153, 51, 0.8);

    @media screen and (max-width: 375px) {
        width: 68%;
    }

    ion-card-header {
        height: 33%;

        ion-card-title {
            color: black;
        } 
    }

    ion-card-content {
        height: 33%;

        ion-label {
            background-color: black;
            padding: 5px;
            font-size: 25px;
        }
    }

    ion-list {
        display: flex;
        height: 33%;
        justify-content: space-around;

        ion-icon {
            font-size: 30px;
            margin: 5px;
            color: rgb(255, 153, 51);
        }
    }
}