<ion-app>
  <ion-menu side="start" menuId="first" [content]="myContent" contentId="main">
    
    <ion-header>
      <ion-navbar>
        <ion-toolbar>
          <ion-title>La Cantinière</ion-title>
        </ion-toolbar>
      </ion-navbar>
    </ion-header>
  
    <ion-content padding>
      <ion-list>
        <ion-item>Home</ion-item>
        <ion-item>Menu</ion-item>
        <ion-item>Contact</ion-item>
        <ion-item>Dashboard</ion-item>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet></ion-router-outlet>
</ion-app>
