<!-- <app-navbar></app-navbar> -->

<ion-content [fullscreen]="true">

  <div id="main">
    <section id="sectionMenuDuJour">
      <div class="divPresentationMenu">
        <img id="imgDivPresentation" src="{{ meals[4].strMealThumb }}" alt="">
        <div id="divcontentMenu">
          <img src="assets/images/menus-du-jour.jpg" alt="">
          <h3>{{ meals[4].strMeal }}</h3>
          <ul>
            <li *ngFor="let ingredient of meals[4].strIngredients">{{ ingredient }}</li>
          </ul>
          <div class="tarif">
            <p>{{ meals[4].price }} €</p>
            <a href="">Commander</a><br>
            <a href="/meal/{{meals[4]._id}}">Voir</a>
          </div>
        </div>
      </div>
    </section>

  <section id="sectionMenuDeLaSemaine">
    <h2>Menu de la semaine</h2>
    <div class="divTableauMenuDeSemaine">
      <table class="tableMenuSemaine">
        <caption>
          Semaine 1
        </caption>
        <thead>
          <tr>
            <th>
              Jour
            </th>
            <th>
              Menu
            </th>
            <th>
              Aperçu
            </th>
            <th>
              Prix
            </th>
          </tr>
        </thead>

        <tbody>
        <tr class="sombre">
          <td class="jour">
            Lundi
          </td>
          <td class="menu">
            Frites steack
          </td>
          <td class="img">
            <img src="assets/images/Steak_Frites.jpg" alt="">
          </td>
          <td class="prix">
            <p>6.50 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr>
          <td class="jour">
            Mardi
          </td>
          <td class="menu">
            Assiette saumon fumé et crudités
          </td>
          <td class="img">
            <img src="assets/images/saumon_fume.jpg" alt="">
          </td>
          <td class="prix">
            <p>8.20 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr class="sombre">
          <td class="jour">
            Mercredi
          </td>
          <td class="menu">
            Gratin dauphinois
          </td>
          <td class="img">
            <img src="assets/images/gratin-dauphinois.jpg" alt="">
          </td>
          <td class="prix">
            <p>5.90 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr>
          <td class="jour">
            Jeudi
          </td>
          <td class="menu">
            Chili Con Carne
          </td>
          <td class="img">
            <img src="assets/images/Chili-con-Carne.jpg" alt="">
          </td>
          <td class="prix">
            <p>7.00 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr class="sombre">
          <td class="jour">
            Vendredi
          </td>
          <td class="menu">
            Boeuf bourguignon
          </td>
          <td class="img">
            <img src="assets/images/boeuf-bourguignon.jpg" alt="">
          </td>
          <td class="prix">
            <p>9.90 €</p>
            <a href="">Commander</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  </div>
  

</ion-content>
