<app-navbar></app-navbar>

<ion-content [fullscreen]="true">

  <section id="sectionMenuDuJour">
    <div class="divPresentationMenu">
      <img id="imgDivPresentation" src="assets/images/saute-de-poulet-aux-carottes-gingembre-coriandre-sauce-soja-et-riz.jpg" alt="curry de poulet au riz basmati">
      <div id="divcontentMenu">
        <img src="assets/images/menus-du-jour.jpg" alt="">
        <h3>Sauté de  poulet aux carottes</h3>
        <ul>
          <li>Escalopes de poulet</li>
          <li>Riz Basmati</li>
          <li>Sauce soja</li>
        </ul>
        <div class="tarif">
          <p>5.90 €</p>
          <a href="">Commander</a>
        </div>
      </div>
    </div>
  </section>

  <section id="sectionMenuDeLaSemaine">
    <h2>Menu de la semaine</h2>
    <div class="divTableauMenuDeSemaine">
      <table class="tableMenuSemaine">
        <caption>
          Semaine 1
        </caption>
        <thead>
          <tr>
            <th>
              Jour
            </th>
            <th>
              Menu
            </th>
            <th>
              Aperçu
            </th>
            <th>
              Prix
            </th>
          </tr>
        </thead>

        <tbody>
        <tr class="sombre">
          <td class="jour">
            Lundi
          </td>
          <td class="menu">
            Frites steack
          </td>
          <td class="img">
            <img src="assets/images/Steak_Frites.jpg" alt="">
          </td>
          <td class="prix">
            <p>6.50 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr>
          <td class="jour">
            Mardi
          </td>
          <td class="menu">
            Assiette saumon fumé et crudités
          </td>
          <td class="img">
            <img src="assets/images/saumon_fume.jpg" alt="">
          </td>
          <td class="prix">
            <p>8.20 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr class="sombre">
          <td class="jour">
            Mercredi
          </td>
          <td class="menu">
            Gratin dauphinois
          </td>
          <td class="img">
            <img src="assets/images/gratin-dauphinois.jpg" alt="">
          </td>
          <td class="prix">
            <p>5.90 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr>
          <td class="jour">
            Jeudi
          </td>
          <td class="menu">
            Chili Con Carne
          </td>
          <td class="img">
            <img src="assets/images/Chili-con-Carne.jpg" alt="">
          </td>
          <td class="prix">
            <p>7.00 €</p>
            <a href="">Commander</a>
          </td>
        </tr>

        <tr class="sombre">
          <td class="jour">
            Vendredi
          </td>
          <td class="menu">
            Boeuf bourguignon
          </td>
          <td class="img">
            <img src="assets/images/boeuf-bourguignon.jpg" alt="">
          </td>
          <td class="prix">
            <p>9.90 €</p>
            <a href="">Commander</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>

</ion-content>
